---
import Layout from '@layouts/Layout.astro';
import Button from "@UI/Button.astro"
---

<Layout title='Prepago chévere'>
	<div class="grid gap-2 container">
		<Button as="a" href="https://www.claro.com.pe/personas/app/claro-musica/" classes="min-w-fit" >Saber más</Button>
		<Button classes="min-w-fit cursor-pointer" type="submit" >Boton submit</Button>
		<Button disabled classes="min-w-fit">Boton</Button>
	</div>
</Layout>
